version: '3.8'

services:
  db:
    image: mongo:latest
    container_name: khojsetu_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: pcrehan001_db_user
      MONGO_INITDB_ROOT_PASSWORD: 27KKDyGdFwVSfOf6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
